html{
	position:relative;
}
body {
	background-image: url(images/background.jpg);
	background-position: 0%;
	background-size: 100%;
	background-attachment: fixed;
	font-family: times, serif;
	margin: 0px auto;
	display : block;
}

#header {
	display: inline-block;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	width:100%;
	padding-bottom: 5px;
}

#header h1{
	font-size: 30px;
}

#menu li{
  display: inline;
  text-decoration: none;
  margin: 10px;
  display: inline;
  border-right: 1px solid #ffffff;
  padding-right: 10px;
  margin-right: 0px;
  font-size: 18px;
  color: #ffffff;
}
#menu li:last-child{
  border-right: none;
}
#content{
	width: 1000px;
	margin: 0px auto;
}


#content/*, #side_bar*/{
  display: none;
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  padding: 1%;
  margin-bottom: 100px;
}

/*#content{
	width:80%;
	overflow: auto;
  float: left;
}*/

#side_bar {							/*Não é para aparecer a side_bar*/
	background-color : #00ff00;
	width:19%;
	margin-left:1%;
	/*float: right;*/
	display: none;
	
}

#content div/*, #side_bar div*/{
	display:block;
	margin:20px;
	
}


#footer {
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
	/*clear: both;*/
	padding: 7px;
}

#search_bar{
	display: block;
	position: fixed;
	left: 80%;
	top: 0px;
}

#search_bar button{
	background-image: url(images/search.png);
	background-size: 21px;
	width: 21px;
	height: 21px;
	float: right
}

#loginform{
	background: url(images/wood.jpg);
	background-size: 300px;
	border: 20px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;  
	display: none;
	position: fixed;
	top: 32%;
	left:50%;
	width:200px;
	margin-left: -160px;
	color: #ffffff;
	padding:20px;
	border-radius: 30px;
}

.big_form > *{
	margin: 30px;
}

.small_form >*{
	margin: 10px;
}

fieldset >*{
	margin: 5px;
}

.item {
	border-style: outset;
	padding : 4%;
}

.max_width{
	width: 100%;
}

.title{
	text-align: center;
}

.simple_list{
	list-style-type: none;
}

.header_button{
	cursor: pointer;
}

.button_1 {
    background-color: white;
    border: none;
	border-radius: 20px;
    color: black;
    padding: 7px 10px;
	margin-top: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}


 #top {
	background: white;
    color: black;
	text-align: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
	z-index: 1000;
}
#top.show {
    opacity: 1;
}