html{
	position:relative;
}
body {
	background-image: url(images/background.jpg);
	background-position: 0%;
	background-size: 100%;
	background-attachment: fixed;
	font-family: times, serif;
	margin: 0px auto;
	display : block;
}

#header {
	display: inline-block;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	width:100%;
	padding-bottom: 5px;
}

#header h1{
	font-size: 30px;
}

#menu li{
  display: inline;
  text-decoration: none;
  margin: 10px;
  display: inline;
  border-right: 1px solid #ffffff;
  padding-right: 10px;
  margin-right: 0px;
  font-size: 18px;
  color: #ffffff;
}
#menu li:last-child{
  border-right: none;
}
#content{
	width: 1000px;
	margin: 0px auto;
	display: none;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
	padding: 1%;
	margin-bottom: 100px;
}

#content > *{
	display:block;
	margin:20px;
}


#footer {
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
	/*clear: both;*/
	padding: 7px;
}

#search_bar{
	display: block;
	position: fixed;
	left: 80%;
	top: 0px;
}

#loginform{
	background: url(images/wood.jpg);
	background-size: 300px;
	border: 20px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;  
	display: none;
	position: fixed;
	top: 32%;
	left:50%;
	width:200px;
	margin-left: -150px;
	color: #ffffff;
	padding:20px;
	border-radius: 30px;
	z-index: 1000;
}

#comments, #replies, #reply{
	display: none;
}

.display_big_center > *{
	font-size: 25px;
	margin: 10px;
	display:block;
	text-align: center;
	color: white;
	text-decoration: none;
}

.simple_href{
	color: white;
}

.big_form > *{
	margin: 30px;
}

.small_form >*{
	margin: 5px;
}

.big_textArea{
	resize: none;
	height:100px;
}

.small_textArea{
	resize: none;
	height:70px;
}

fieldset >*{
	margin: 5px;
}

.item {
	border-style: outset;
	padding : 4%;
}

.review {
	border-style: outset;
	padding : 1%;
	margin: 10px;
}

.reply {
	border-style: outset;
	border-radius: 50px;
	padding : 1%;
	margin: 10px;
}

.max_width{
	width: 100%;
}

.title{
	text-align: center;
}

.subtitle{
	border-bottom-style: outset;
}

.simple_list{
	list-style-type: none;
}

.button{
	text-align: center;
    text-decoration: none;
    cursor: pointer;
	outline: none;
	font-family: times, serif;
}

.header_button{
	background-color: black;
    border: none;
    color: white;
	font-size: 20px;
    font-style: bold;
}

.button_1 {
    background-color: white;
    border: none;
	border-radius: 20px;
    color: black;
    padding: 7px 10px;
	margin-top: 20px;
    text-align: center;
	font-size: 16px;
}

.button_search{
	background-image: url(images/search.png);
	background-size: 21px;
	width: 21px;
	height: 21px;
	float: right;
}

.button_top {
	background-image: url(images/top-button.png);
	background-size: 40px;
	display: none;
	border-radius: 45px;
	background-color: rgba(255,255,255,0.5);
    color: black;
	text-align: center;
    position: fixed;
    bottom: 90px;
    right: 25px;
    width: 40px;
    height: 40px;
	z-index: 1000;
}

#map {
	padding-bottom : 50%;
	width: auto;
}


.slideshow {
	border: 10px solid rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	display: none;
	position: fixed;
	top: 10%;
	left:35%;
	width:30%;
	color: #ffffff;
	padding:20px;
	border-radius: 30px;
	z-index: 1000;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}